* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("Секція_No.1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding-top: 33px;
    margin-bottom: 108px;
}

.header_container {
    width: 100%;
    max-width: 1326px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.header_right--nav {
    display: flex;
    align-items: center;
    gap: 53px;
}

.header_right--nav--link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
}

.header_right--nav--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    border: 5px solid #f0e7ff;
    background-color: #ffffff;
    color: #543f6b;
    border-radius: 180px;
    height: 54px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.header_right--nav--btn:hover {
    background-color: #f0e7ff;
    color: #543f6b;
}

.header_right--mobile {
    display: none;
}

@media screen and (max-width: 1030px) {
    body {
        background-image: url("tablet-header.png");
    }

    .header_right {
        display: none;
    }

    .header_right--mobile {
        display: block;
    }
}

@media screen and (max-width: 740px) {
    body {
        background-image: url("phone-header.png");
    }

    .header-logo {
        width: 150px;
    }
}

.main_container {
    width: 100%;
    max-width: 1326px;
    margin: 0 auto;
    padding: 0 20px;
}

.main_first .main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_first--title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #2b2b2b;
    max-width: 462px;
    margin-bottom: 92px;
}

.main_first--btn {
    width: 100%;
    max-width: 450px;
    height: 108px;
    border-radius: 90px;
    background-color: #f0e7ff;
    cursor: pointer;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: #543f6b;
    transition: 0.3s ease-in-out;
}

.main_first--btn:hover {
    background-color: white;
    color: #543f6b;
    border: 5px solid #f0e7ff;
}

@media screen and (max-width: 600px) {
    .main_second--cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_first--title {
        font-size: 34px;
        margin-bottom: 52px;
    }

    .main_first--btn {
        font-size: 26px;
    }
}

@media screen and (max-width: 435px) {
    .main_fourth--icon {
        display: none;
    }

    .main_first--btn {
        font-size: 22px;
    }

    .main_fourth--content-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 336px) {
    .main_first--title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .main_first--btn {
        font-size: 22px;
        max-width: 250px;
    }
}


